/* Estilos de fuentes */
@font-face {
    font-family: 'GothamPro', Arial, Helvetica, sans-serif;
    src: url('/documents/d/caminos/gothampro');
    font-weight: 400 !important;
}
@font-face {
    font-family: 'GothamPro-Light', Arial, Helvetica, sans-serif;
    src: url('/documents/d/caminos/gothampro-light');
}
@font-face {
    font-family: 'GothamPro-Medium', Arial, Helvetica, sans-serif;
    src: url('/documents/d/caminos/gotham-medium');
}
@font-face {
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif;
    src: url('/documents/d/caminos/gothampro-bold');
}

body,
body #content{
    font-family: 'GothamPro', Arial, Helvetica, sans-serif;
}
p strong{
    font-family: 'GothamPro-Bold', Arial, Helvetica, sans-serif;
}

/* Estilos generales */
:root{
    --purple:   #5F2167;
    --red:      #E11F2A; 
    --white:    #ffffff;
    --fafa:     #FAFAFA;
    --black:    #000000;
    --dark1:    #212529;
    --dark2:    #31343C;
    --dark3:    #222222;
    --dark4:    #1D1F24;
}
.container-fluid{ 
    padding-left: 0; 
    padding-right: 0; 
}
.portlet {
    margin-bottom: 0;
}
.row{ 
    margin-left: 0; 
    margin-right: 0; 
}
button{
    box-shadow: none !important;
}
.border{
    border: 1px dashed #00ffff !important;
}
.backpurple{
    background-color: var(--purple);
}

.fpurple{
    color: var(--purple);
}
.fred{
    color: var(--red);   
}
.fwhite{
    color: var(--white);   
}
.fblack{
    color: var(--black);   
}

.titles1{
    font-family: 'GothamPro-Medium', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px
}
.titles2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}
.titles3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
}
.titles4{
    font-family: 'GothamPro-Medium', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
}
.subtitles{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}
.txt12{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}
.txt14{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}
.txt16{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}
.txt18{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
}
.redbtn{
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);   
    font-size: 12px; 
}.redbtn:hover{
    background-color: var(--white);
    color: var(--red);   
}
.whitebtn{
    background-color: var(--white);
    color: var(--purple);   
    font-size: 12px; 
}
.purplebtn{
    border: 1px solid var(--purple);
    background-color: var(--purple);
    color: #fff;   
    font-size: 12px; 
}.purplebtn:hover{
    background-color: var(--white);
    color: var(--purple);   
}

@media (max-width: 767px){
    .titles1{
        font-size: 30px !important;
        line-height: 38px !important;
    }
}